<%- partial ('common/navbar.ejs') %>
<div class="container-fluid">
  <div class="jumbotron row">
    <div class="col-sm-4 text-center">
      <img src="/images/lotto.png" class="img-circle img-thumbnail" alt="Cinque Terre" width="200" height="200">
    </div>
    <div class="col-sm-8">
    <h2>QUẢN LÝ LÔ ĐỀ TRỰC TUYẾN</h2>
    <p>Trang quản lý số đề trực tuyến dành cho các thầu đề dễ dàng quản lý , Source Web sử dụng công nghệ Realtime
      trên nền NodeJS và SocketIO , được sử dụng nhiều nhất trong năm 2016 bởi các lập trình viên.</p>
    </div>
  </div>
  <div class="container-fluid" id="update-content"></div>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">THÔNG BÁO</h4>
      </div>
      <div class="modal-body">
        <p class="content-alert">Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>

<%- partial ('common/footer.ejs') %>
