/* Remove the navbar's default margin-bottom and rounded borders */
body {
  background:#f1f1f1 !important;
  letter-spacing: 0.5px;
}
#page-player-manager, #page-bet-manager, #login-page, #page-view-bet,
#admin-page , #root-page , #page-user-manager, #kqxs-page, #page-bet-cal
{
  padding:10px;
  margin-top:20px;
  background: #fff;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
}
.jumbotron {
  border-radius:0 !important;
  background:#4b8c95;
  color:#f5e1ca !important;
}

/* Add a gray background color and some padding to the footer */
footer {
  margin-top:20px;
  background-color: #f2f2f2;
  padding: 25px;
}
table input[type="checkbox"] {
  position: relative !important;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

#login-page {
  /*box-shadow: 0 0px 15px 1px #989898;*/
  max-width:500px;
  padding:10px;
}

table thead , .modal-header, .tr-first {
  background:#a94442;
  color:#fff;
}

input[type="search"], select {
  border:1px solid #a94442;
  color:#a94442;
  height:30px;
  padding:5px;
}

#page-view-bet span.pull-right {
  font-size:16px;
  font-weight:bold;
}
.ngay-nhan-tin {
  display:none;
}

td.tong-von,td.tong-an {
  font-weight: bold;
  font-size: 16px;
  color: #a94442;
}

.bet_submit {
  min-width:152px;
}

tr.tr-info {
  background:#31708f;
  color:#fff;
}
td.td-player, td.td-phone, td.td-bonus {
  width:120px;
}

#page-bet-cal table td {
  text-align: center;;
}
#tr-phan-tich {
  background:#fdf59a;
}

td.phan-tich-soda1,td.phan-tich-soda2 {
  width:90px;
}
td.tinh-tien-thang {
  color:#408441;
  font-size:16px;
  font-weight:bold;
}
